@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.buttonLogin {
	width: 65px;
	height: 31px;

	color: $Primary;
	border-radius: 10px;
	background: $PureWhite;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.09), 0 10px 8px rgba(38, 117, 209, 0.04);

	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}
